<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GPU状态监控 - 状态监控</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="icon" href="/static/favicon.ico">
  <style>
    .card {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
    }
    .row {
      margin-top: 1em;
    }
    .left {
      padding-right: 7px;
    }
    .right {
      padding-left: 7px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2 style="text-align: center;">GPU状态监控</h2>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="/index.html">状态监控</a>
      </li>
      <li>
        <a href="/process.html">进程监控</a>
      </li>
      <li>
        <a href="/smi.html">nvidia-smi</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-6 col-sm-12 left">
        <div class="card">
          <div id="memory-used" style="width: 100%; height: 300px;"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 right">
        <div class="card">
          <div id="utilization" style="width: 100%; height: 300px;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 left">
        <div class="card">
          <div id="temperature" style="width: 100%; height: 300px;"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 right">
        <div class="card">
          <div id="fan-speed" style="width: 100%; height: 300px;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div id="power-draw" style="width: 100%; height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/jquery-1.12.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/echarts.min.js"></script>
  <script>
    $(function () {
      const longest = 60 * 60 * 1000;  // 历史长度
      const interval = 2;              // 刷新间隔
      const chartList = [
        { id: "memory-used", title: "显存占用 (MB)" },
        { id: "utilization", title: "显卡占用 (%)" },
        { id: "temperature", title: "显卡温度 (℃)" },
        { id: "fan-speed", title: "风扇转速 (%)" },
        { id: "power-draw", title: "显卡功耗 (W)" },
      ];
      $.ajax({
        url: "/gpu-number",
        type: "get",
        cache: false,
        success: function (data) {
          const gpuNumber = parseInt(data);
          chartList.forEach(value => {
            // 根据GPU的个数生成legend和series
            const legend = [];
            const series = [];
            for (let i = 0; i < gpuNumber; i++) {
              legend.push(`GPU${i}`);
              series.push({
                name: `GPU${i}`,
                type: "line",
                data: [],
                symbol: 'none',
              });
            }
            value.option = {
              title: {
                text: value.title
              },
              tooltip: {
                trigger: "axis"
              },
              legend: {
                data: legend
              },
              grid: {
                left: "1%",
                right: "2%",
                bottom: "1%",
                containLabel: true
              },
              xAxis: {
                type: "time",
                splitLine: {
                  show: false
                }
              },
              yAxis: {
                type: "value"
              },
              series: series
            };
            value.chart = echarts.init(document.getElementById(value.id));
            value.chart.setOption(value.option);
            value.chart.showLoading();  // 显示加载动画
          });
          getHistory();
        },
      });

      function refreshChart() {
        chartList.forEach(c => {
          c.option.series.forEach(s => {
            // 删除超过历史长度的数据
            while (true) {
              if (s.data[s.data.length - 1].timestamp - s.data[0].timestamp > longest) s.data.shift();
              else break;
            }
          });
          c.chart.hideLoading();  // 隐藏加载动画
          c.chart.setOption(c.option);
        });
      }

      function query() {
        $.ajax({
          url: "/status",
          type: "get",
          success: function (gpuStatus) {
            let date = new Date(gpuStatus.timestamp);
            gpuStatus.status.forEach((value, index) => {
              chartList.forEach(c => {
                c.option.series[index].data.push({
                  value: [date, value[c.id]],
                  timestamp: gpuStatus.timestamp
                })
              });
            });
            refreshChart();
          },
        });
      }

      function getHistory() {
        $.ajax({
          url: "/status-history",
          type: "get",
          cache: false,
          success: function (data) {
            data.forEach(gpuStatus => {
              let date = new Date(gpuStatus.timestamp);
              gpuStatus.status.forEach((value, index) => {
                chartList.forEach(c => {
                  c.option.series[index].data.push({
                    value: [date, value[c.id]],
                    timestamp: gpuStatus.timestamp
                  })
                });
              });
            });
            refreshChart();
            setInterval(() => {
              query();
            }, interval * 1000);
          },
        });
      }
    });
  </script>
</body>

</html>