<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GPU状态监控 - 状态监控</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
    .card {
      margin-top: 1em;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2 style="text-align: center;">GPU状态监控</h2>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="/index.html">状态监控</a>
      </li>
      <li>
        <a href="/process.html">进程监控</a>
      </li>
      <li>
        <a href="/smi.html">nvidia-smi</a>
      </li>
    </ul>
    <div class="card">
      <div id="memory-used-chart" style="width: 100%; height: 300px;"></div>
    </div>
    <div class="card">
      <div id="utilization-chart" style="width: 100%; height: 300px;"></div>
    </div>
    <div class="card">
      <div id="temperature-chart" style="width: 100%; height: 300px;"></div>
    </div>
    <div class="card">
      <div id="power-chart" style="width: 100%; height: 300px;"></div>
    </div>
  </div>
  <script src="/static/js/jquery-1.12.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/echarts.min.js"></script>
  <script>
    $(function () {
      let memoryUsedChart = echarts.init(document.getElementById("memory-used-chart"));
      let utilizationChart = echarts.init(document.getElementById("utilization-chart"));
      let temperatureChart = echarts.init(document.getElementById("temperature-chart"));
      let powerChart = echarts.init(document.getElementById("power-chart"));
      // 指定图表的配置项和数据
      let memoryUsedChartOption = {
        title: {
          text: '显存占用 (MB)'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: []
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'time',
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value'
        },
        series: []
      };
      let utilizationChartOption = {
        title: {
          text: '显卡占用 (%)'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: []
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'time',
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value'
        },
        series: []
      };
      let temperatureChartOption = {
        title: {
          text: '显卡温度 (℃)'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: []
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'time',
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value'
        },
        series: []
      };
      let powerChartOption = {
        title: {
          text: '显卡功耗 (W)'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: []
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'time',
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value'
        },
        series: []
      };

      let chartList = [
        { chart: memoryUsedChart, option: memoryUsedChartOption },
        { chart: utilizationChart, option: utilizationChartOption },
        { chart: temperatureChart, option: temperatureChartOption },
        { chart: powerChart, option: powerChartOption }
      ];

      const longest = 60 * 60 * 1000;  // 最多只保留一个小时的历史数据

      function refreshChart() {
        // 删除超过历史长度的数据
        memoryUsedChartOption.series.forEach(value => {
          let last = value.data[value.data.length - 1].timestamp;
          while (true) {
            if (last - value.data[0].timestamp > longest) {
              value.shift();
            }
            else {
              break;
            }
          }
        });
        powerChartOption.series.forEach(value => {
          let last = value.data[value.data.length - 1].timestamp;
          while (true) {
            if (last - value.data[0].timestamp > longest) {
              value.shift();
            }
            else {
              break;
            }
          }
        });
        utilizationChartOption.series.forEach(value => {
          let last = value.data[value.data.length - 1].timestamp;
          while (true) {
            if (last - value.data[0].timestamp > longest) {
              value.shift();
            }
            else {
              break;
            }
          }
        });
        temperatureChartOption.series.forEach(value => {
          let last = value.data[value.data.length - 1].timestamp;
          while (true) {
            if (last - value.data[0].timestamp > longest) {
              value.shift();
            }
            else {
              break;
            }
          }
        });
        chartList.forEach(value => {
          value.chart.hideLoading();
          value.chart.setOption(value.option);
        });
      }

      function query() {
        $.ajax({
          url: "/status",
          type: "get",
          success: function (data) {
            let date = new Date(data.timestamp);
            data.status.forEach((value, index) => {
              memoryUsedChartOption.series[index].data.push({
                value: [date, value.memory_used],
                timestamp: data.timestamp
              });
              utilizationChartOption.series[index].data.push({
                value: [date, value.utilization],
                timestamp: data.timestamp
              });
              temperatureChartOption.series[index].data.push({
                value: [date, value.temperature],
                timestamp: data.timestamp
              });
              powerChartOption.series[index].data.push({
                value: [date, value.power_draw],
                timestamp: data.timestamp
              });
            });
            refreshChart();
          },
        });
      }

      function getHistory() {
        $.ajax({
          url: "/status-history",
          type: "get",
          cache: false,
          success: function (data) {
            data.forEach(gpuStatus => {
              let date = new Date(gpuStatus.timestamp);
              gpuStatus.status.forEach((value, index) => {
                memoryUsedChartOption.series[index].data.push({
                  value: [date, value.memory_used],
                  timestamp: data.timestamp
                });
                utilizationChartOption.series[index].data.push({
                  value: [date, value.utilization],
                  timestamp: data.timestamp
                });
                temperatureChartOption.series[index].data.push({
                  value: [date, value.temperature],
                  timestamp: data.timestamp
                });
                powerChartOption.series[index].data.push({
                  value: [date, value.power_draw],
                  timestamp: data.timestamp
                });
              });
            });
            refreshChart();
            setInterval(() => {
              query();
            }, 3000);
          },
        });
      }

      // 显示加载动画
      chartList.forEach(value => {
        value.chart.setOption(value.option);
        value.chart.showLoading();
      });
      $.ajax({
        url: "/gpu-number",
        type: "get",
        cache: false,
        success: function (data) {
          for (let i = 0; i < parseInt(data); i++) {
            chartList.forEach(value => {
              value.option.legend.data.push(`GPU${i}`);
              value.option.series.push({
                name: `GPU${i}`,
                type: "line",
                data: [],
                symbol: 'none',
                // smooth: true,
              });
            });
          }
          getHistory();
        },
      });
    });
  </script>
</body>

</html>