<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPU状态监控 - nvidia-smi</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="icon" href="/static/favicon.ico">
  </head>
  <body>
    <div class="container">
        <h2 style="text-align: center;">GPU状态监控</h2>
        <ul class="nav nav-tabs">
            <li>
                <a href="/index.html">状态监控</a>
            </li>
            <li>
                <a href="/process.html">进程监控</a>
            </li>
            <li class="active">
                <a href="/smi.html">nvidia-smi</a>
            </li>
            <li>
              <a href="/system.html">系统信息</a>
            </li>
        </ul>
        <div style="margin-top: 1em;">
          <pre id="smi"></pre>
        </div>
        <div class="alert alert-success" role="alert">
          <strong>注意！</strong>此页面 <span id="refresh-time"></span>s 后自动更新。
        </div>
    </div>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      $(function () {
        function query () {
          $.ajax({
            url: "/nvidia-smi",
            type: "get",
            success: function (data) {
              $("#smi").html(data);
            },
          });
        }
        const interval = 3;  // 刷新间隔
        let countDown = interval;
        function refresh() {
          countDown--;
          if (countDown === 0) {
            countDown = interval;
            query();
          }
          $("#refresh-time").html(countDown);
        }
        // 首次获取信息
        query();
        setInterval(() => {
          refresh();
        }, 1000);
      });
    </script>
  </body>
</html>